.action-link {
  text-decoration: none;
  cursor: pointer;
  color: #355dff !important;
  background-color: transparent;

  &:hover {
    color: #355dff !important;
    text-decoration: none;
  }
}

.link-cell {
  cursor: pointer;
  color: #355dff;
  text-decoration: none;

  &:hover {
    color: #355dff !important;
  }
}

.no-link-cell {
  cursor: auto !important;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.87) !important;

  &:hover {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.pointer {
  cursor: pointer;
}

.action-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  height: 40px;
}
