@switch (typeControl) {
  @case ('number') {
    <input
      type="number"
      [disabled]="disabled"
      class="form-control textbox-cell"
      [(ngModel)]="value"
      [name]="name"
    />
  }
  @case ('percent') {
    <input
      type="text"
      class="form-control textbox-cell text-end"
      [disabled]="disabled"
      [(ngModel)]="value"
      [name]="name"
    />
    <!-- (ngModelChange)="value = $event" -->
    <!-- [ngModel]="value | formatterPercent" -->
  }
  @default {
    <input type="text" class="form-control textbox-cell" [(ngModel)]="value" [name]="name" />
  }
}
